/* Selector theo thẻ */
p {
    color: red;
}

/* Selector theo class */
.jsb37 {
    color: blue;
}

/* Selector theo ID */
#id1 {
    color: rgb(3, 62, 33);
}

/* Selector theo con */
div p {
    color: white;
    background-color:chocolate;
}

/* External CSS */
.external {
    background-color: lightblue;
}

/* BOX MODEL */
.box-model{
    /* Màu nền */
    background-color: burlywood;
    /* Chiều ngang */
    width: 250px;
    /* Chiều cao */
    height: 80px;
    /* Viền: kích thước - kiểu - màu */
    border: 5px solid black;
    /* Padding: Khoảng cách từ content đến viền */
    padding: 20px;
    /* Margin: kcach từ viền đến thẻ khác */
    margin: 30px;
}

/* BOX SIZING */
.container{
    /* Xếp các phần tử bên trong nằm ngang */
    display: flex;
    /* Khoảng cách giữa các phần tử */
    gap: 30px;
}

/* content-box: kích thước chỉ của content */
.box1{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: 5px solid black;
    padding: 20px;
    box-sizing: content-box;
}

/* border-box: kích thước của content - padding - border */
.box2{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: 5px solid black;
    padding: 20px;
    box-sizing: border-box;
}